<div class="container">
	<div class = "row">
		<div class = "col-md-12">
			<h2 class = "mt-4 mb-3">商品詳細</h2>
				<div class ="card mb-5" style="width: 500px">
					<div class = "card-img-top pl-5 pt-4">
						<%= attachment_image_tag(@item, :image, :fill, 400, 350, format: 'jpg', fallback: "no_image.jpg", size:"400x350") %>
					</div>
					<div class= "card-body pl-5">
						<div class = "card-title h4">
							<h2><%= @item.name %></h2></div>
						<div class = "card-text h5">
							<h4><%= @item.description %></h4></div>
						<div class = "card-text h5">
							<h3>￥<%= @item.price %></h3></div>
							<h3 class="text-danger"><%= @item.sales_status if @item.sales_status == "売り切れ" %></h3>
						<%= link_to edit_admin_item_path(@item) do %>
						<div class="btn btn-info btn-lg col-md-11 mt-3 mb-3 ">編集する</div>
						<% end %>
						<%= link_to admin_item_path(@item), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
						<div class="btn btn-danger btn-lg col-md-11 mt-3 mb-3">削除する</div>
						<% end %>
					</div>
	    		</div>
	  	</div>
	</div>
</div>
