
<%= @item.name %>
<%= link_to attachment_image_tag(@item, :image, :fill, 120, 120, format: 'jpg', fallback: "no_image.jpg") %>
<%= @item.price %>
<%= @item.description %>
<%= form_for @cart, url: cart_items_path do |f| %>
  <%= link_to edit_admin_item_path do %>
     <div class="btn btn-outline-primary">編集する</div>
   <% end %>

