<%= "ジャンル一覧" %>
<%= "ジャンル新規作成" %>
<p id="notice"><%= notice %></p>

<%= form_for(@genre, url: create_admin_genre_path) do |genre_create_form| %>
  <%= genre_create_form.text_field :name %>
  <%= genre_create_form.submit '登録', class: 'btn btn-primary btn-lg my-1 mb-5 px-5' %> 
<% end %>

<% @genres.each do |genre| %>
  <%= genre.name %>

  <% if genre.paranoia_destroyed? %>
    <td align=“center”>無効</td>
  <% else %>
    <td align=“center”>有効</td>
  <% end %>

  <% if genre.paranoia_destroyed? %>
    <%= link_to '有効にする', regeneration_admin_genre_path(genre), method: :patch, class: 'btn btn-primary btn-lg my-1 mb-5 px-5' %>
  <% else %>
    <%= link_to '編集する', edit_admin_genre_path(genre), class: 'btn btn-primary btn-lg my-1 mb-5 px-5' %>
  <% end %>

<% end %>