<div class="slideshow">
  <img src="/assets/slide-1.jpg" alt="" width="2000" height="1050">
  <img src="/assets/slide-2.jpg" alt="" width="2000" height="1050">
  <img src="/assets/slide-3.jpg" alt="" width="2000" height="1200">
  <img src="/assets/slide-4.jpg" alt="" width="2000" height="1050">
</div>

<div class="container">
  <div class = "row">
    <div class = "col-md-12">
      <h1 class="text-center font-weight-bold mt-5 mb-5">カテゴリー</h1>

      <h1 class = "text-center font-weight-bold mt-5 mb-5">商品一覧</h1>
        <% @items.each do |item| %>
          <div class="float-left mr-3 mb-4">
            <div class ="card" style="width: 350px">
              <div class = "card-img-top pl-5 pt-4">
                <% if admin_signed_in? %>
                  <%= link_to attachment_image_tag(item, :image, :fill, 250, 200, format: 'jpg', fallback: "no_image.jpg"), admin_item_path(item) %>
                <% else %>
                  <%= link_to attachment_image_tag(item, :image, :fill, 250, 200, format: 'jpg', fallback: "no_image.jpg"), item_path(item) %>
                <% end %>
              </div>
              <div class= "card-body pl-5">
                  <div class = "card-title h5">
                    <%= item.name %></div>
                  <div class = "card-text">
                    <%= item.description %></div>
                  <div class = "card-text"></div>
                    <%= item.price %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

