
<div class="container">
		<div class="row">
			<div class= "col-md-8">

					<span class="h4">登録情報編集 </span>
					<%= link_to "退会する", customer_new_Unsubscribe_path,class: 'btn btn-danger' %>
				  <br><br>
					<%= form_for(@customer) do |f| %>

						<table class="table table-bordered">
							<tbody>
								<tr>
									<th class="table-secondary">氏名</th>
									<td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
								</tr>
								<tr>
									<th class="table-secondary">カナ</th>
									<td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
								</tr>
								<tr>
									<th class="table-secondary">郵便番号</th>
									<td><%= f.text_field :customers_postal_code %></td>
								</tr>
								<tr>
									<th class="table-secondary">住所</th>
									<td><%= f.text_field :customers_address %></td>
								</tr>
								<tr>
									<th class="table-secondary">電話番号</th>
									<td><%= f.text_field :phone_number %></td>
								</tr>
								<tr>
									<th class="table-secondary">メールアドレス</th>
									<td><%= f.text_field :email %></td>
								</tr>
							</tbody>

						</table>

						<br><div class="button-edit">
							<%= f.submit '編集内容を保存する',class: 'btn btn-info btn-lg'%>
							</div>

					<% end %>
		</div>
	</div>
</div>

