<% if customer_signed_in? %>

		<h4>画像</h4>

		<h4>カナ</h4>
			<%= @customer.last_name_kana %><%= @customer.first_name_kana %>
		<h4>名前</h4>
			<%= @customer.last_name %><%= @customer.first_name %>
		<h4>郵便番号</h4>
			<%= @customer.customers_postal_code %>
		<h4>住所</h4>
			<%= @customer.customers_address %>
		<h4>電話番号</h4>
			<%= @customer.phone_number %>
		<h4>メールアドレス</h4>
			<%= @customer.email %>



	 	<br><%=link_to "編集", edit_customer_path(@customer) %>

	 	<br><%= link_to "logout", destroy_customer_session_path, method: :delete %>
<% end %>