<div class="container">
    <div class="row">
      <div class= "col-md-12 mt-5 mb-5">
        <h4>注文履歴一覧</h4>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="table-secondary">注文日</th>
            <th class="table-secondary">配送先</th>
            <th class="table-secondary">注文商品</th>
            <th class="table-secondary">支払い金額</th>
            <th class="table-secondary">ステータス</th>
            <th class="table-secondary">注文詳細</th>
          </tr>
      </thead>
      <% @orders.each do |order| %>

      <tbody>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= order.address %></td>
            <td><% order.order_items.each do |order_item| %>
                  <%= order_item.item.name %><br>
                <% end %></td>
            <td><%= order.total_price %></td>

            <td><% if order.order_items.each do |order_item|
                    order_item.finish?
                    end || order.preparing?%>
                  <p>発送準備中</p>
                <% elsif order.order_items.each do |order_item|
                order_item.in_production?
                    end || order.in_production? %>
                  <p>製造中</p>
                <% elsif order.unpaid? %>
                    <p>入金待ち</p>
                <% elsif order.deposited? %>
                    <p>入金確認</p>
                <% elsif order.in_production? %>
                    <p>製造中</p>
                <% elsif order.preparing? %>
                    <p>発送準備中</p>
                <% else %>
                    <p>発送済み</p>
                <% end %></td>
            <td><%= link_to '表示する', order_path(order), class: 'btn btn-info px-5' %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
