<h1>注文履歴一覧</h1>

<% @orders.each do |order| %>

  <h2>注文日</h2>
  <%= order.order_id.created_at %>

  <h2>配送先</h2>
  <%= order.order_id.address %>

    <h2>注文商品</h2>
    <%= order.name%>

  <h2>支払い金額</h2>
  <%= order.order_id.total_price%>

  <h2>ステータス</h2>
  <% if order.making_status.finish? || order.order_id.order_status.preparing? %>
    <h2>発送準備中</h2>

  <% elsif order.making_status.in_production? || order.order_id.order_status.in_production? %>
    <h2>製造中</h2>


  <% elsif order.order_id.order_status.unpaid? %>
      <h2>入金待ち</h2>

  <% elsif order.order_id.order_status.deposited? %>
      <h2>入金確認</h2>

  <% elsif order.order_id.order_status.in_production? %>
      <h2>製造中</h2>

  <% elsif order.order_id.order_status.preparing? %>
      <h2>発送準備中</h2>

  <% else %>
      <h2>発送済み</h2>
      
  <% end %>

  <h2>注文詳細</h2>
  <%= link_to '表示する', order_path(order), class: 'btn btn-primary btn-lg my-1 mb-5 px-5' %>

<% end %> 