<h1> ショッピングカート</h1>
<% if CartItem.find_by(customer_id: @user.id) %>
  <%= link_to cart_items_all_destroy_path, method: :delete do %>
    <div class="btn btn-danger">カート全削除</div>
  <% end %>
  <% @cart = CartItem.where(customer_id: @user.id) %>
  <% i = 0 %>
  <% @cart.each do |cart| %>
      <div>
        <%= cart.item.name %>
        <%= link_to item_path(cart.item_id) do %>
         <%= attachment_image_tag(cart.item, :image, :fill, 120, 120, format: 'jpg', fallback: "no_image.jpg",size:"120x120") %>
        <% end %>
        <%= cart.item.price %>
        <p>小計</p>
        <p><%= i += cart.item.price * cart.number %>円<p>
        <%= form_for @number, url: cart_item_path(cart), method: :patch do |f|%>
          <%= f.number_field :number, name:"number",  value:cart.number %>
          <%= f.submit "変更", class:"btn btn-primary" %>
        <% end %>
        <%= link_to cart_item_path(cart.id), method: :delete do %>
          <div class="btn btn-danger">カートから削除する</div>
        <% end %>
      </div>
  <% end %>
    <h5>合計金額</h5>
    <%= i %>
     <%= link_to new_order_path do%>
      <div class="btn btn-danger">購入に進む</div>
      <% end %>
<% else %>
  <h1>商品がありません</h1>
<% end %>
