<% if @cart = CartItem.where(customer_id: @user.id) %>
  <% @cart.each do |cart| %>
    <%= link_to item_path(cart.item_id) do %>
    <div>
    <%= cart.item.name %>
    <%= attachment_image_tag(cart.item, :image, :fill, 120, 120, format: 'jpg', fallback: "no_image.jpg",size:"120x120") %>
    <%= cart.item.price %>
    <%= link_to cart_item_path(cart), method: :delete do %>
      <div class="btn btn-danger">カートから削除する</div>
    <% end %>
    </div>
    <% end %>
  <% end %>
<% else %>
  <h1>商品がありません</h1>
<% end %>
