<div class = "index-title">
	<h2>顧客情報</h2>
</div>
<div class = "index-items">
	<table class = "table table-striped">
		<tr align = "center">
			<th>名前</th>
			<th>名前(カナ)</th>
			<th>メールアドレス</th>
			<th>電話番号</th>
			<th>会員ステータス</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
				<!-- 繰り返し処理 -->
		<% @customers.each do |customer| %>
			<tr>
				<td align="center"><%= customer.last_name %><%= customer.first_name %></td>
				<td align="center"><%= customer.last_name_kana %><%= customer.first_name_kana %></td>
				<td align="center"><%= customer.email %></td>
				<td align="center"><%= customer.phone_number %></td>
				<% if customer.paranoia_destroyed? %>
					<td align="center">退会</td>
				<% else %>
					<td align="center">有効</td>
				<% end %>
				<td align="center"><%= link_to "Show", admin_path(customer) %></td>
				<td align="center"><%= link_to "Edit",edit_admin_path(customer) %></td>
				<td align="center">
					<%= link_to "有効", admin_active_path(customer), method: :put, "data-confirm" => "有効状態に戻しますか？", class: "customer-active-btn" %> |
					<%= link_to "退会", admin_path(customer), method: :delete, "data-confirm" => "退会状態に変更しますか？", class: "customer-destroy-btn" %>
				</td>
			</tr>
		<% end %>
	</table>
	<%= paginate @customers, class: "paginate" %>
</div>
