<div class = "index-title">
				<h2>顧客情報</h2>
			</div>
			<div class = "index-items">
				<table class = "table table-striped">
					<tr align = "center">
						<th>名前</th>
						<th>名前(カナ)</th>
						<th>メールアドレス</th>
						<th>電話番号</th>
						<th></th>
						<th></th>
					</tr>
							<!-- 繰り返し処理 -->
					<% @customers.each do |customer| %>
						<tr>
							<td><%= customer.last_name %><%= customer.first_name %></td>
							<td><%= customer.last_name_kana %><%= customer.first_name_kana %></td>
							<td><%= customer.email %></td>
							<td><%= customer.phone_number %></td>
							<td><%= link_to "Show", admin_path(customer) %></td>
							<td><%= link_to "Edit",edit_admin_path(customer) %></td>
						</tr>
					<% end %>
				</table>
				<%= paginate @customers, class: "paginate" %>
			</div>