<%# if customer_signed_in? %>
<div class="container">
		<div class="row">
			<div class= "col-md-8">
	<span class="h4 text-center font-weight-bold">登録情報 </span>
		<span class= "button-show">
		<%=link_to "編集",  edit_admin_path(@customer),class: 'btn btn-info' %>
		<%= link_to "パスワードを変更する", customer_edit_password_path,class: 'btn btn-info' %>
		</span><br><br>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th class="table-secondary">氏名</th>
				<td><%= @customer.last_name %><%= @customer.first_name %></td>
			</tr>
			<tr>
				<th class="table-secondary">カナ</th>
				<td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
			</tr>
			<tr>
				<th class="table-secondary">郵便番号</th>
				<td><%= @customer.customers_postal_code %></td>
			</tr>
			<tr>
				<th class="table-secondary">住所</th>
				<td><%= @customer.customers_address %></td>
			</tr>
			<tr>
				<th class="table-secondary">電話番号</th>
				<td><%= @customer.phone_number %></td>
			</tr>
			<tr>
				<th class="table-secondary">メールアドレス</th>
				<td><%= @customer.email %></td>
			</tr>
		</tbody>
	</table>

				<span class="h4 font-weight-bold">配送先 </span>
				<%= link_to '一覧を見る', deliver_infos_path,class: 'btn btn-info' %><br><br>
				<span class="h4 font-weight-bold">注文履歴</span>
				<%= link_to '一覧を見る', orders_path, class: 'btn btn-info' %>
			</div>
		</div>
</div>

<%# end %>
