
<%= form_for(@deliver_info, url: deliver_info_path) do |deliver_info_form| %>

<div class="container">
        <div class="row">
            <div class= "col-md-10 mt-4 mb-5">
              <h4 class="mb-4">配送先編集</h4>
                  <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th class="table-secondary">郵便番号</th>
                            <td><%= deliver_info_form.text_field :postal_code, class: "col-md-5" %></td>
                        </tr>
                        <tr>
                          <th class="table-secondary">住所</th>
                          <td><%= deliver_info_form.text_field :address, class: "col-md-11" %></td>
                        </tr>
                        <tr>
                          <th class="table-secondary">宛名</th>
                          <td><%= deliver_info_form.text_field :name, class: "col-md-5" %></td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                  <div class= "col-md-2 mt-5">
                    <br><br><br><br>
                    <span><%= deliver_info_form.submit '編集する', class: 'btn btn-info col-md-12 mt-5' %></span>
                  </div>
               </div>
             </div>
                <% end %>
