<%= "配送先住所" %><br />
  <%= form_for @deliver_info do |deliver_info_form| %>
    <%= deliver_info_form.label :name, "宛名" %>
    <%= deliver_info_form.text_field :name %><br />
    <%= deliver_info_form.label :postal_code, "郵便番号" %>
    <%= deliver_info_form.text_field :postal_code %><br />
    <%= deliver_info_form.label :address, "住所" %>
    <%= deliver_info_form.text_field :address %><br />

    <%= link_to 'Destroy', @deliver_info, method: :delete, data: { confirm: '本当によろしいですか?' } %>

  <div class="actions">
    <%= deliver_info_form.submit %>
  </div>
<% end %>