<div class="container">
	<div class = "row">
		<div class="col-3">
			<div class="genre">
        <h3>ジャンル検索</h3>
        <% @genre.each do |genre| %>
          <p><%= genre.name %></p>
        <% end %>
      </div>
    </div>
		<div class ="col-md-9">
			<div class="d-flex">
				<div><%= attachment_image_tag(@item, :image, :fill, 250, 300, format: 'jpg', fallback: "no_image.jpg",size:"300x200") %></div>
				<div class="pl-3">	
					<h3><%= @item.name %></h3>
					<p><%= @item.description %></p>
					<h4>￥<%= @item.price %>（税込み）</h4>
				</div>
			</div>
			<div class="offset-8">
				<%= form_for @cart, url: cart_items_path do |f| %>
				<%= f.select :number, (1..99), size:"4"%>
				<%= f.hidden_field :item_id, :value => @item.id %>
				<%= f.submit "カートに入れる", class:"btn btn-info btn-lg col-md-11 mt-3 mb-3 " %>
				<%= f.hidden_field :customer_id, :value => current_customer.id%>
			<% end %>
			</div>
		</div>
	</div>
</div>
